<h1>Recipe Index</h1>
<div class="row justify-content-center">
  <%= will_paginate(@chef_recipes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
<%= render 'recipe', obj: @chef_recipes %>
<div class="row justify-content-center">
  <%= will_paginate(@chef_recipes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
